.layout-logo-container {
	position: relative;
	width: 100%;
	height: var(--header-height);
	line-height: var(--header-height);
	text-align: center;
	overflow: hidden;

	.layout-logo {
		display: none;
	}

	.layout-logo-text {
		height: 100%;
		vertical-align: middle;
	}
}

.layout-mode-top {
	height: var(--navigationbar-height);
	line-height: var(--navigationbar-height);
}

.collapse {
	.layout-logo {
		width: 32px;
		height: 32px;
		vertical-align: middle;
		display: inline-block;
	}

	.layout-logo-text {
		display: none;
	}
}
